/* Stile del Titolo */
h1 { 
    color: #ca1a1a;
}

/* Tutti gli stili del DIV uniti in un unico blocco pulito */
div {
    display: flex;
    flex-direction: column; 
    width: 300px;           
    gap: 12px;              
    margin-bottom: 20px;
    background-color: rgb(0, 0, 0);
    border: #ca1a1a 10px solid;
    padding: 30px; 
}

/* Stile comune per Input e Bottoni */
input, button {
    font-size: 16px;  
    padding: 8px;
}

/* Classe invisibile gestita dal Toggle di JavaScript */
.hide {
    display: none;
}

#contatoreLista {

    color: aliceblue;
    font-size: 18px;
    margin-top: 10px;
}